.header {
  width: 100%;
  height: 50px;
  background-color: rgb(228, 230, 232);
}

.navbar {
  width: 1040px;
  height: 50px;
  background-color: rgb(228, 230, 232);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoArea {
  width: 50px;
  margin-left: 24px;
}

.logo {
  height: 50px;
}
