:root {
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --secondary-color: rgb(200, 201, 202);
  --green-color: rgb(141, 226, 115);
  --darkgreen-color: rgb(94, 146, 107);
  --red-color: rgb(255, 31, 31);
}
