.inputField {
  width: 100%;
  height: 32px;
  font-family: Molot;
  margin: 8px 0px;
  border: solid 1px var(--black-color);
  border-radius: 8px;
  flex: 1;
  display: flex;
  max-width: 400px;
}

.inputField::placeholder {
  color: var(--secondary-color);
  font-size: 16px;
}

.loginLabel {
  font-size: 32px;
}

.form {
  width: 80%;
  margin-bottom: 20%;
}

@media screen and (max-height: 550px) {
  .form {
    margin-bottom:0;
  }

  .loginLabel {
    font-size: 24px;
  }

}