.button {
  width: 160px;
  margin: 8px;
  height: 40px;
  color: black;
  background-color: rgb(141, 226, 115);
  cursor: pointer;
  border-radius: 8px;
  transition: 0.6s;
  font-family: Molot;
  font-size: 16px;
}

.button:hover {
  background-color: rgb(94, 146, 107);
  transition: 0.3s;
}
