@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Code+Pro&display=swap');

@font-face {
  font-family: Molot;
  src: url("../src/ui-library/fonts/molot/Molot.otf");
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row {
  flex-direction: row;
}
.flex_col {
  flex-direction: column;
}