@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Code+Pro&display=swap");

@font-face {
  font-family: Molot;
  src: url("../src/assets/fonts/molot/Molot.otf");
}

.App {
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row {
  flex-direction: row;
}
.flex_col {
  flex-direction: column;
}
